<md-card id="filtersCard">
	<md-card-title id="filterCardTitle" md-colors="::{backgroundColor: 'primary'}">
		<md-card-title-text>
			<span class="md-headline">Recherche</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content layout-xs="column" layout="row">
		<div layout="column" class="filterPart">
			<span>Capacite</span>
			<md-slider-container>
				<md-slider flex="60" ng-mouseup="updateList()" ng-model="filters.capacity" min="1" max="30" step="1" aria-label="capacity" id="capacitySlider"></md-slider>
				</md-slider>
				<md-input-container>
					<input flex type="number" ng-model="filters.capacity" ng-change="updateList()" aria-label="capacity" aria-controls="capacity">
				</md-input-container>
			</md-slider-container>
			<span class="filterTitle">Equipements</span>
			<md-checkbox ng-change="updateList()" ng-model="filters.tv" aria-label="tv">
				  TV
			</md-checkbox>
			<md-checkbox ng-change="updateList()" ng-model="filters.projector" aria-label="tv">
				  Retro Projecteur
			</md-checkbox>
		</div>
		<div layout="column" class="filterPart">
			<md-datepicker ng-change="updateList()" ng-model="filters.date" md-placeholder="Date" md-min-date="minDate"></md-datepicker>
			<md-input-container>
				<md-icon id="hourIcon">access_time</md-icon>
				<md-select placeholder="Heure" ng-model="filters.time" ng-change="updateList()" id="hour">
					<md-option ng-repeat="hour in hours" ng-value="hour">{{hour}}</md-option>
				</md-select>
			</md-input-container>
		</div>
	</md-card-content>
</md-card>

<span ng-show="noRooms" id="noResult">Aucune salle n'est disponible pour votre recherche</span>

<md-card ng-repeat="room in rooms">
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">{{room.name}}</span>
		</md-card-title-text>
	</md-card-title>
	<md-divider></md-divider>
	<md-card-content>
		<span>{{room.description}}</span>
		<p><md-icon>people</md-icon>{{room.capacity}}</p>
		<md-icon ng-show="hasTv(room.equipements)">tv</md-icon>
		<md-icon ng-show="hasProjector(room.equipements)">videocam</md-icon>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		<md-button md-colors="{color: 'blue-A200'}" ng-click="addReservation(room)">Reserver</md-button>
	</md-card-actions>
</md-card>
